.sidebar{
    width:270px;
    background:var(--sidebar);
    padding:30px;
    display:flex;
    flex-direction:column;
    box-shadow:var(--shadow);
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:24px;
    font-weight:700;
    margin-bottom:50px;
    color:var(--primary);
}

nav{
    display:flex;
    flex-direction:column;
    gap:10px;
}

nav a{
    padding:15px;
    display:flex;
    align-items:center;
    gap:15px;
    border-radius:14px;
    transition:var(--transition);
    cursor:pointer;
    color:var(--gray);
}

nav a:hover{
    background:rgba(255,255,255,.05);
    color:white;
}

nav .active{
    background:var(--primary);
    color:white;
}

.botao-menu {
    display: none;
    background: none;
    color: var(--text);
    font-size: 22px;
    cursor: pointer;
    margin-right: 15px;
}

.overlay-menu {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 998;
}

@media (max-width: 900px) {

    .botao-menu {
        display: block;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 999;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
    }

    .sidebar.aberta {
        transform: translateX(0);
    }

    .overlay-menu.ativo {
        display: block;
    }

   .content {
        padding: 25px 18px;
    }

    header {
        align-items: center;
    }

    .cards {
        grid-template-columns: 1fr;
    }
}